<style>
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    text-align: center;
    height: 70px;
}

td {
    width:63px;
}

.ch {
    font-size: 15pt
}
.pron {
    font-size: 10pt
}


.big {
    font-size: 15pt;
    position: relative;
    display: inline-block;
}
.small {
    font-size: 10pt
}

.big .tooltiptext {
    visibility: hidden;
    width: 420px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: -125%;
    left: 20%;
    margin-left: 10px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

.big .tooltiptext .word {
    margin-right: 10px;
}

/* Tooltip arrow */
.big .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.big:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
</style>
