<style>
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    text-align: center;
    height: 70px;
}

td {
    width:63px;
}

.ch {
    font-size: 15pt
}
.pron {
    font-size: 10pt
}


.big {
    font-size: 15pt
}
.small {
    font-size: 10pt
}
</style>
